pandas
plotly
dash
gunicorn
flask
Django==2.2.13
docutils==0.16
gitdb2==2.0.5
GitPython==3.0.1
idna==2.8
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mongoengine==0.18.2
mongomock==3.18.0
numpy==1.17.0
packaging==20.4
py-cpuinfo==5.0.0
pycparser==2.19
Pygments==2.7.4
PyJWT==1.7.1
pymongo==3.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
recommonmark==0.6.0
requests==2.22.0
sentinels==1.0.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.0
urllib3==1.25.3
uwsgi==2.0.18
